---
const {frontmatter} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="font-sans max-w-xl mx-auto px-8 py-8">
		<h1 class="text-4xl bg-sky-900 rounded-xl p-4 inline-block">Vivi's Blog</h1>
        <br/><br/>
        <slot/>
	</body>
</html>

<style>
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-700 dark:bg-black dark:text-gray-300 font-sans;
  }
}
</style>