---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import MailLink from '../components/MailLink.astro';
---

<Layout title="Vivian, The Enby Witch">
	<main>
		<h1><span class="text-gradient">Vivian</span>, The Enby Witch</h1>
		<subtitle>The Interdisciplinary <span class="lesbian text-gradient">Lesbian</span> <span class="pronouns">[she/fae/they]</span></subtitle>
		<p class="instructions">
			Hi! I'm a Polish Unreal Engine game developer. I specialize in First Person Animation, but I am also a bit of a UE generalist.<br/><br/>
			Email me at <a class="text-gradient" href="&#109;&#x61;&#x69;&#108;&#x74;&#111;&#58;&#118;&#105;&#118;&#105;&#46;&#116;&#104;&#101;&#64;&#101;&#x6e;&#x62;&#121;&#119;&#x69;&#x74;&#46;&#99;&#x68;">&#118;&#105;&#118;&#105;&#46;&#116;&#104;&#101;&#64;&#101;&#x6e;&#x62;&#121;&#119;&#x69;&#x74;&#46;&#99;&#x68;</a>
		</p>
		<h2>Projects I've worked on</h2>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://www.splashdamage.com/"
				title="Unannounced SD Game"
				bgImage="url(/img/sd.jpg)"
				body="I've been at Splash Damage since September 2022 working as an Animation Programmer. My role is to implement animations in Unreal and make them work within the game."
			/>
			<Card
				href="https://reikongames.com/"
				title="Final Form"
				bgImage="url(/img/finalform_op.jpg)"
				body="I've worked on this project at Reikon Games from 2019 to 2022. I've worked on the first person animations and I've worked with the animation blueprints in Unreal Engine."
			/>
		</ul>
		<h2>Mod projects I've worked on</h2>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://steamcommunity.com/sharedfiles/filedetails/?id=1532706684"
				title="Infinite's Boss Rush (2018)"
				bgImage="url(/img/bossrush_op.jpg)"
				body="A Call of Duty: Black Ops 3 mod. I've researched the camera format used in BO3 and took part in making the first custom made cinematic in the game."
			/>
			<Card
				href="https://mega.nz/file/WAcRkbJB#nfT5wbNzcTBcJUO88mLEPmjSK92MkMPJwDdsuP3Y8wg"
				title="Mindshare (2018)"
				bgImage="url(/img/mindshare_op.jpg)"
				body="A Call of Duty: Black Ops 1 mod. I've researched the vehicle mechanics and I've also made a cinematic animation for it."
			>
			<p>There used to be a forum post but the forum has since closed, and there's no archived version of it.</p>
			</Card>
			<Card
				href="https://www.ugx-mods.com/forum/mod-releases/121/bo1-project-thor-ascension-gameplay-mod/10953/"
				title="Project Thor (2016)"
				bgImage="url(/img/projectthor_op.jpg)"
				body="A Call of Duty: Black Ops 1 mod. I've made a few animation sets for this mod."
			/>
		</ul>
	</main>
	<footer>
		
	</footer>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	footer {
		display: flex;
		justify-content: center;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	subtitle {
		color: #aaa;
		font-weight: 800;
	}
	.pronouns {
		font-weight: normal;
	}
	.lesbian {
		background-image: linear-gradient(45deg, #d52d00 0%, #d52d00 20%, #ff9a56 20%, #ff9a56 40%, #ffffff 40%, #ffffff 60%, #d362a4 60%, #d362a4 80%, #a30262 80%, #a30262 100%) !important;
		background-size: 100% !important;;
		background-position: 0% !important;;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 300%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: #1a1a1a;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
