---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import MailLink from "../components/MailLink.astro";
---

<Layout title="Vivian, The Enby Witch">
  <main>
    <h1><span class="text-gradient">Vivian</span>, The Enby Witch</h1>
    <subtitle
      >The Interdisciplinary <span class="lesbian text-gradient">Lesbian</span>
      <span class="pronouns">[she/fae/they]</span>
    </subtitle>
    <p class="instructions">
      Hi! I'm a developer from Poland. I specialize in First Person Animation,
      Animation Blueprints and Control Rig in Unreal Engine. I also like
      developing tools for the engine!<br />
       Check out my <a
        class="text-gradient"
        href="https://blog.of.the.enbywit.ch/blog/custom-dialogue-nodes-slate-flowgraph/"
        >post on creating a custom look for your dialogue nodes in Flow Graph
        using Slate!</a
      >
      <br /><br />
       I also do frontend development using Astro, Next.js, React and Svelte.
      This site you're looking at was made with Astro!
      {
        /*<br /><br />
       Check out my <a class="text-gradient" href="/resume">resume here</a>*/
      }
      <br /><br />
       Check out some of my work on <a
        class="text-gradient"
        rel="me"
        href="https://www.youtube.com/channel/UCDhOSQtT97hVPl0b4lnIyjg"
        >YouTube</a
      ><br />
       Find me on <a
        class="text-gradient"
        rel="me"
        href="https://peoplemaking.games/@TheEnbyWitch">Mastodon</a
      >.<br />
       Email me at <a class="text-gradient" href="mailto:vivi.the@enbywit.ch"
        >vivi.the@enbywit.ch</a
      > or if you want to hire me for something, <a
        class="text-gradient"
        href="mailto:hire.me@enbywit.ch">hire.me@enbywit.ch</a
      ><br />
      {
        /*See what I'm up to on my <a class="text-gradient" href="/now">/now</a> page*/
      }
    </p>
    <h2>Unreal Engine Plugins</h2>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://theenbywitch.itch.io/ue-umg-editor-toolbars"
        title="UMG Editor Toolbars"
        bgImage="url(/img/umgtoolbar_op.jpg)"
        body="Create custom toolbar widgets completely in editor without touching C++! (Paid)"
      />
      <Card
        href="https://github.com/TheEnbyWitch/ImGuiBlueprint"
        title="ImGuiBlueprint"
        bgImage="url(/img/imguibp.jpg)"
        body="Access ImGui from Blueprint using convenient nodes! (Open Source)"
      />
      <Card
        href="https://amb.enbywit.ch/"
        title="Accumulation-based Motion Blur"
        bgImage="url(/img/amb.jpg)"
        body="A tried-and-tested post process effect, popular in the 2000s games, now available in Unreal! (Paid)"
      />
    </ul>
    <h2>Open Source Projects</h2>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://github.com/TheEnbyWitch/LunarViewer"
        title="LunarViewer"
        bgImage="url(/img/lunarviewer.jpg)"
        body="A hardware-accelerated model viewer for Quake 1 and Hexen 2 with a focus on accurate representation."
      />
    </ul>
    <h2>Projects I've worked on</h2>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://press.splashdamage.com/Project-Astrid"
        title="Project Astrid"
        bgImage="url(/img/sd.jpg)"
        body="I've worked on this project at Splash Damage from 2022 to 2023 as an Animation Programmer. My role was to work on the player animation blueprint and control rigs."
      />
      <Card
        href="https://reikongames.com/"
        title="Final Form"
        bgImage="url(/img/finalform_op.jpg)"
        body="I've worked on this project at Reikon Games from 2019 to 2022. I've worked on the first person animations and I've worked with the animation blueprints in Unreal Engine."
      />
    </ul>
    <h2>Web Development</h2>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://topstomatologia.pl"
        title="Topstomatologia"
        bgImage="url(/img/topstom_op.webp)"
        body="I've remade this website using Astro and Tailwind. I've also used Cypress for testing to make sure that everything still works, even after potential updates."
      />
    </ul>
    <h2>Mod projects I've worked on</h2>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://tateplayer.codes/projects/bossrush"
        title="Infinite's Boss Rush (2018)"
        bgImage="url(/img/bossrush_op.jpg)"
        body="A Call of Duty: Black Ops 3 mod. I've researched the camera format used in BO3 and took part in making the first custom made cinematic in the game."
      />
      <Card
        href="https://tateplayer.codes/projects/mindshare"
        title="Mindshare (2018)"
        bgImage="url(/img/mindshare_op.jpg)"
        body="A Call of Duty: Black Ops 1 mod. I've researched the vehicle mechanics and I've also made a cinematic animation for it."
      />
      <Card
        href="https://www.ugx-mods.com/forum/mod-releases/121/bo1-project-thor-ascension-gameplay-mod/10953/"
        title="Project Thor (2016)"
        bgImage="url(/img/projectthor_op.jpg)"
        body="A Call of Duty: Black Ops 1 mod. I've made a few animation sets for this mod."
      />
    </ul>
  </main>
  <footer></footer>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  subtitle {
    color: #aaa;
    font-weight: 800;
  }
  .pronouns {
    font-weight: normal;
  }
  .lesbian {
    background-image: linear-gradient(
      45deg,
      #d52d00 0%,
      #d52d00 20%,
      #ff9a56 20%,
      #ff9a56 40%,
      #ffffff 40%,
      #ffffff 60%,
      #d362a4 60%,
      #d362a4 80%,
      #a30262 80%,
      #a30262 100%
    ) !important;
    background-size: 100% !important;
    background-position: 0% !important;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    background-position: 0%;
    text-decoration: none;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: #1a1a1a;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
